.cart-items{
    position: relative;
 
}
.add-remove{
    position: relative;
}
.cart-products{
    position: absolute;
    top: -750px;
    left: 600px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.cart-image{
    width: 90px;
    height: 90px;
}
.add-image{
    position: absolute;
    top: -5px;
    left: 90px;
}
.remove-image{
    position: absolute;
    top: -5px;
    left: 150px;
}
.cart-price{
    position: absolute;
    top: -5px;
    left: 200px;
    color: beige;
}
.cart-remove{
    position: absolute;
    top: -5px;
    left: 270px;
    border: 1px solid beige;
    border-radius: 5px;
}
.remove{
    position: relative;
}
.count{
    position: absolute;
    top: -5px;
    left: 130px;
    color: beige;
}
.total{
position: relative;
}
.total-count{
    position: absolute;
    top: -250px;
    left: 1180px;
    color: beige;
    font-size: 35px;
}