.forBody-title{
    position: relative;
    top: -750px;
}
.forBody-title h3{
    position: absolute;
    left: 680px;
    color: beige;
}
.forBody-div{
    position: relative;
    height: 350px;
    width: 800px;
    border: 1px solid beige;
    background-color: beige;
    top: -650px;
    left: 360px;
    border-radius: 10px;
}
.forBody-line1{
    position: absolute;
    height: 250px;
    width: 40px;
    border: 1px solid rgb(152, 122, 82);
    background-color: rgb(152, 122, 82);
    border-radius: 50px;
    top: 50px;
    left: 50px;
}
.forBody-line2{
    position: absolute;
    height: 170px;
    width: 40px;
    border: 1px solid rgb(152, 122, 82);
    background-color: rgb(152, 122, 82);
    border-radius: 50px;
    top: 50px;
    left: 100px;
}
.forBody-quote1{
    position: absolute;
    top: 70px;
    left: 230px;
}
.forBody-quote2{
    position: absolute;
    top: 220px;
    left: 630px;
}
.forBody-p{
    position: absolute;
    width: 400px;
    top: 110px;
    left: 270px;
    font-size: 25px;
}



.forBody-div-1{
    position: relative;
    height: 350px;
    width: 800px;
    border: 1px solid beige;
    background-color: beige;
    top: -500px;
    left: 360px;
    border-radius: 10px;
}
.bodyCream{
    position: relative;
    top: -600px;
   
}
.bodyCream h3{
    position: absolute;
    left: 660px;
    color: beige;
}
.bodyCream-title{
    position: relative;
    display: flex;
    margin-bottom: 560px;
}

 .bodyWash-item1{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 210px ;
    top: -600px;
    margin-left: 50px;  
}
.image-5{
    position: absolute;
    width: 250px;
    height: 230px;
    border-radius: 10px;
    top: 70px;
}
 .bodyWash-price1{
    position: relative;
    top: 330px;
    left: 85px;
    color: beige;
}
.star-5{
    position: relative;
    color: beige;
    top: 325px;
    left: 85px;
} 



.bodyWash-item2{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 210px ;
    top: -200px;
     margin-left: 50px;   
    margin-bottom: 900px;
}
.image-6{
    position: absolute;
    width: 250px;
    height: 230px;
    border-radius: 10px;
    top: 90px;
}
 .bodyWash-price2{
    position: relative;
    top: 350px;
    left: 85px;
    color: beige;
} 
 .star-6{
    position: relative;
    color: beige;
    top: 340px;
    left: 85px;
} 
 .bodyCream-item1{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 210px;  
    margin-left: 50px;  
} 
.bodyCream-img{
    position: absolute;
    width: 250px;
    height: 230px; 
    border-radius: 10px;
    top: -400px;
}
 .bodyCream-price1{
    position: relative;
    top: -140px;
    left: 85px;
    color: beige;
} 
 .star-7{
    position: relative;
    color: beige;
    top: -150px;
    left: 85px;
} 
.bodyCream-item2{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 210px ;
    /* top: 330px; */
     margin-left: 50px; 
    margin-bottom: 470px;  
}
.image-8{
    position: absolute;
    width: 250px;
    height: 230px;
    border-radius: 10px;
    top: -90px;
}
 .bodyCream-price2{
    position: relative;
    top: 170px;
    left: 85px;
    color: beige;
} 
 .star-8{
    position: relative;
    color: beige;
    top: 160px;
    left: 85px;
} 












/* .bodyCream-item1{
    position: relative;
    top: 350px;
    left: 85px;
    color: beige;
}
.image-7{
    position: absolute;
    width: 250px;
    height: 230px;
    border-radius: 10px;
    top: 90px;
}  */