.title{
    position: relative;
    top: -750px;
    
}
.title h3{
    position: absolute;
    left: 710px;
    color: beige;
}.facewash{
    height: 300px;
    width: 600px;
    border: 1px solid beige;
    position: relative;
    top: -650px;
    left: 470px;
    border-radius: 15px;
    background-color: beige;
}.line-1{
    height: 200px;
    width: 30px;
    border: 1px solid rgb(152, 122, 82);
    border-radius: 50px;
    background-color: rgb(152, 122, 82);
    position: absolute;
    left: 50px;
    top: 30px;
}
.line-2{
    height: 130px;
    width: 30px;
    border: 1px solid rgb(152, 122, 82);
    border-radius: 50px;
    background-color: rgb(152, 122, 82);
    position: absolute;
    left: 90px;
    top: 30px;
}
.abt-quotes1{
    position: absolute;
    left: 190px;
    top: 70px;
}
.abt-quotes2{
    position: absolute;
    left: 500px;
    top: 180px;
}
.abt-para{
    position: absolute;
    top: 90px;
    left: 230px;
    font-size: 25px;
}

.faceCream{
    height: 300px;
    width: 600px;
    border: 1px solid beige;
    position: relative;
    top: 400px;
    left: 470px;
    border-radius: 15px;
    background-color: beige;
    margin-bottom: 500px;
}.title-2{
    position: relative;
    top: 300px;
    
    
}.title-2 h3{
    position: absolute;
    left: 710px;
    color: beige;
}

.faceWash-items{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 210px ;
    top: -600px;
    margin-left: 50px;  
} 
.image{
    position: absolute;
    width: 250px;
    height: 230px;
    border-radius: 10px;
    top: 70px;
  
}
.faceWash-price{
    position: relative;
    top: 330px;
    left: 85px;
    color: beige;
}


.faceWash-items-2{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 210px ;
    top: -200px;
    margin-left: 50px;  
} 
.image-2{
    position: absolute;
    width: 250px;
    height: 230px;
    border-radius: 10px;
    top: 90px;
  
}
.faceWash-price2{
    position: relative;
    top: 350px;
    left: 85px;
    color: beige;
}


.faceCream-items-1{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 210px ;
    top: -100px;
    margin-left: 50px;  
} 
.image-3{
    position: absolute;
    width: 250px;
    height: 230px;
    border-radius: 10px;
    top: 90px;
  
}
.faceCream-price1{
    position: relative;
    top: 350px;
    left: 85px;
    color: beige;
}


.faceCream-items-2{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 210px ;
    top: 330px;
    margin-left: 50px;
    margin-bottom: 990px;  
} 
.image-4{
    position: absolute;
    width: 250px;
    height: 230px;
    border-radius: 10px;
    top: 90px;
  
}
.faceCream-price2{
    position: relative;
    top: 350px;
    left: 85px;
    color: beige;
}

.star{
    position: relative;
    color: beige;
    top: 325px;
    left: 85px;
}
.star-2{
    position: relative;
    color: beige;
    top: 340px;
    left: 85px;
}
.star-3{
    position: relative;
    color: beige;
    top: 340px;
    left: 85px;
}
.star-4{
    position: relative;
    color: beige;
    top: 340px;
    left: 85px;
}
.addToCart{
    position: absolute;
    border: 1px solid beige;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    top: 40px;
    left: -30px;
}