.forHair-title {
    position: relative;
    top: -750px;
}
.forHair-title h3{
    position: absolute;
    left: 700px;
    color: beige;
}
.forHair-div{
    height: 350px;
    width: 800px;
    border-radius: 10px;
    border: 1px solid beige;
    background-color: beige;
    position: relative;
    top: -650px;
    left: 370px;
}
.forHair-line1{
    position: absolute;
    height: 250px;
    width: 30px;
    border: 1px solid rgb(152, 122, 82);
    background-color: rgb(152, 122, 82);
    border-radius: 50px;
    top: 40px;
    left: 60px;
}
.forHair-line2{
    position: absolute;
    height: 160px;
    width: 30px;
    border: 1px solid rgb(152, 122, 82);
    background-color: rgb(152, 122, 82);
    border-radius: 50px;
    top: 40px;
    left: 100px;
}
.forHair-quotes1{
    position: absolute;
    left: 210px;
    top: 50px;
} 
.forHair-quotes2{
    position: absolute;
    left: 650px;
    top: 240px;
} 
.forHair-para{
    position: absolute;
    top: 80px;
    left: 250px;
    font-size: 20px;
}


.forHair-div-2{
    height: 350px;
    width: 800px;
    border-radius: 10px;
    border: 1px solid beige;
    background-color: beige;
    position: relative;
    top: 370px;
    left: 370px;
    margin-bottom: 500px;
}
.shampoo-title{
    position: relative;
    top: 280px;
}
.shampoo-title h3{
    position: absolute;
    left: 700px;
    color: beige;
}




.hairOil-item1{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 210px ;
    top: -600px;
    margin-left: 50px;  
} 
.hairOil-img{
    position: absolute;
    width: 250px;
    height: 230px;
    border-radius: 10px;
    top: 70px;
  
}
.hairOil-price1{
    position: relative;
    top: 330px;
    left: 85px;
    color: beige;
}


.hairOil-item2{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 210px ;
    top: -200px;
    margin-left: 50px;  
} 
.hairOil-img2{
    position: absolute;
    width: 250px;
    height: 230px;
    border-radius: 10px;
    top: 90px;
  
}
.hairOil-price2{
    position: relative;
    top: 350px;
    left: 85px;
    color: beige;
}


.shampoo-item1{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 210px ;
    top: -100px;
    margin-left: 50px;  
} 
.shampoo-img{
    position: absolute;
    width: 250px;
    height: 230px;
    border-radius: 10px;
    top: 90px;
  
}
.shampoo-price1{
    position: relative;
    top: 350px;
    left: 85px;
    color: beige;
}


.shampoo-item2{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 210px ;
    top: 330px;
    margin-left: 50px;
    margin-bottom: 990px;  
} 
.shampoo-img2{
    position: absolute;
    width: 250px;
    height: 230px;
    border-radius: 10px;
    top: 90px;
  
}
.shampoo-price2{
    position: relative;
    top: 350px;
    left: 85px;
    color: beige;
}

.star-9{
    position: relative;
    color: beige;
    top: 325px;
    left: 85px;
}
.star-10{
    position: relative;
    color: beige;
    top: 340px;
    left: 85px;
}
.star-11{
    position: relative;
    color: beige;
    top: 340px;
    left: 85px;
}
.star-12{
    position: relative;
    color: beige;
    top: 340px;
    left: 85px;
}

